{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}


// former one 
// {
//     "presets": [
//         ["@babel/env", {
//             "targets": {
//                 "browsers": [
//                     "last 5 versions",
//                     "ie >= 8"
//                 ]
//             }
//         }]
//     ]
// }